$main-red: #f44336;
$soft-red: #ffdde0;
$hard-red: #b71c1c;
$main-blue: #03a9f4;
$soft-blue: #e1f5fe;
$hard-blue: #0277bd;
$main-green: #8bc34a;
$soft-green: #e7f6d5;
$hard-green: #558b2f;
$main-purple: #673ab7;
$soft-purple: #ede7f6;
$hard-purple: #311b92;
$soft-gray: #f8f8f8;
$light-gray: #ddd;
$medium-gray: #808488;
$hard-gray: #4d5052;